@import url(../libs/GoogleSansWebfont/stylesheet.css);
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cecece;
  font-family: 'Google Sans';
  height: 100vh;
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
header nav {
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.911);
  box-shadow: 0 1px 7px 0px rgba(167, 167, 167, 0.418);
}
header nav > a {
  width: 40px;
}
header nav > a img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
header nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header nav > ul li {
  list-style: none;
}
header nav > ul li a {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin: 0 20px;
  color: black;
  background-color: rgba(255, 255, 255, 0);
  transition: all .25s linear;
}
header nav > ul li a:hover {
  color: #0044ff;
}
header nav > ul li a.active-page {
  color: #00f;
}
header #nav-indicator {
  width: 75px;
  height: 3px;
  background: #00f;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: absolute;
  top: 50px;
  left: 400px;
  transform: translateX(-50%);
  transition: all .45s ease-in-out;
}

main {
  background: url("./assets/backgrounds/happy-mood-mountain-nature.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.75s ease-in-out;
  filter: none;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main > * {
  position: absolute;
  top: 0;
  left: 0;
}
main #content {
  width: inherit;
  height: inherit;
}
main #loader {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: white;
  padding: 20px;
  opacity: 0;
  transform: scale(0);
  transition: all .45s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #loader > img {
  max-width: 70%;
  max-height: 70%;
  animation: spin 2s linear infinite;
}

main.animated {
  transform: scale(0.2);
}
main.animated #content {
  visibility: hidden;
}
main.animated #loader {
  opacity: 1;
  transform: scale(1);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
