@import './common/reset';
@import './common/fonts';
@import './common/dimens';
@import './common/colors';
@import './common/anims';



body {
    background-color: rgb(206, 206, 206);
    font-family: 'Google Sans';
}



header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
    width: 100%;

    

    nav {
        user-select: none;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: $home-nav-ver-padding 30px;

        backdrop-filter: blur(15px);
        background-color: rgba(255, 255, 255, 0.925);
        box-shadow: 0 1px 7px 0px rgb(167, 167, 167);



        > a {
            width: 40px;
            // background: #000;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }


        > ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;


            li {
                list-style: none;

                a {
                    cursor: pointer;
                    text-decoration: none;

                    position: relative;
                    display: inline-block;
                    padding: $home-nav-a-ver-padding $home-nav-a-hoz-padding;
                    margin: 0 20px;

                    color: $primary-a-color;
                    background-color: rgba(255, 255, 255, 0);
                    transition: all .25s linear;


                    &:hover {
                        color: $primary-a-hover-color;
                    }


                    &.active-page {
                        color: $primary-active-color;
                    }
                }
            }
        }    
    }


    #nav-indicator {
        width: 75px;
        height: 3px;

        background: $primary-active-color;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;

        position: absolute;
        top: 80%;
        left: 0;

        transform: translateX(-50%);
        transition: all .45s ease-in-out;
    }
}



#middle {
    padding-top: 60px;

    background: url(./assets/backgrounds/macbook-laptop-coding.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    transform: scale(0.5);
    transition: all .75s;
    filter: blur(10px) grayscale(1);

    color: white;
}


#middle.animated {
    transform: scale(1);
    filter: none;
}