@import '../common/reset';
@import '../common/fonts';
@import '../common/dimens';
@import '../common/colors';
@import '../common/anims';


#middle {
    color: white;
}


#particle-js {
    position: relative;
    z-index: 1;


    > #typing-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


        width: 100%;
        text-align: center;


        .typing {
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.432);
            font-size: 32pt;

            &:after {
                color: white;
            }
        }
    }

}



#wave {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    // background: linear-gradient(to top left, #ffffff00 40%, rgba(88, 192, 253, 0.664));

    
    &:after {
        content: '';
        background-color: #fff;

        position: absolute;
        bottom: -1;
        left: -1;
        right: 0;

        width: 100%;
        height: 100%;

        background: url(../assets/header-shape.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 101%;
    }
}