#home {
  color: white;
}

#particle-js {
  background-attachment: fixed;
  position: relative;
}
#particle-js > #typing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
#particle-js > #typing-text .typing {
  text-shadow: 1px 1px 5px black;
  font-size: 30px;
}
