@import url(../libs/GoogleSansWebfont/stylesheet.css);
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#middle {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}

#normal form {
  height: 100%;
  max-height: 100%;
  padding: 25px 40px;
  border-radius: 0px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#normal form div#inputs {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "txtName txtEmail" "txtSubject txtSubject" "txtMessage txtMessage";
}
#normal form div#inputs > #txtName {
  grid-area: txtName;
}
#normal form div#inputs > #txtEmail {
  grid-area: txtEmail;
}
#normal form div#inputs > #txtSubject {
  grid-area: txtSubject;
}
#normal form div#inputs > #txtMessage {
  grid-area: txtMessage;
}
#normal form input, #normal form textarea {
  font-size: 16px;
  font-family: 'Google Sans';
  background: rgba(255, 255, 255, 0.89);
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px 10px;
}
#normal form input:focus, #normal form textarea:focus {
  outline: none;
}
#normal form textarea {
  resize: none;
}
#normal form h1 {
  font-size: 30px;
}
#normal form span {
  text-align: center;
}
#normal form div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
#normal form div button {
  font-family: 'Google Sans';
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 40px;
  color: white;
  background: linear-gradient(to bottom right, #0044ff, #4aa3fc);
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.404);
}

#map {
  position: relative;
  color: #000;
  border-radius: 0px;
  overflow: hidden;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.753);
  background: url("../assets/backgrounds/map.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#map iframe {
  width: 100%;
  height: 100%;
}
#map a {
  text-decoration: none;
  color: #000;
  border-radius: 3px;
  background-color: white;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.178);
  padding: 10px 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#social-networks {
  padding: 15px;
  border-radius: 3px;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.753);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
}
#social-networks img {
  width: 30px;
  cursor: pointer;
}

@keyframes zoomIn {
  from {
    transform: scale(0.75);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
