@import url(../libs/GoogleSansWebfont/stylesheet.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contact {
  width: 90%;
  padding: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 50px;
}

#normal form {
  animation: zoomIn .75s ease-in-out;
  padding: 15px;
  border-radius: 3px;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.753);
  display: grid;
  grid-template-rows: 2fr 2fr 1fr;
  row-gap: 10px;
}
#normal form div#inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#normal form div#inputs > *:not(:last-child) {
  margin-bottom: 10px;
}
#normal form input, #normal form textarea {
  font-size: 16px;
  font-family: 'Google Sans';
  display: block;
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #c5c5c5;
}
#normal form input:focus, #normal form textarea:focus {
  outline: none;
}
#normal form textarea {
  resize: none;
}
#normal form div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
#normal form div button {
  font-family: 'Google Sans';
  font-size: 16px;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  color: white;
  background: linear-gradient(to bottom right, #0044ff, #4aa3fc);
}
#normal #social-networks {
  animation: zoomIn .75s ease-in-out;
  margin-top: 20px;
  padding: 15px;
  border-radius: 3px;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.753);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
}
#normal #social-networks img {
  width: 30px;
  cursor: pointer;
}

#map {
  position: relative;
  color: #000;
  border-radius: 3px;
  overflow: hidden;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.753);
  background: url("../assets/backgrounds/Screenshot_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  animation: zoomIn .75s ease-in-out;
}
#map iframe {
  width: 100%;
  height: 100%;
}
#map a {
  text-decoration: none;
  color: #000;
  border-radius: 3px;
  background-color: white;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.178);
  padding: 10px 20px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@keyframes zoomIn {
  from {
    transform: scale(0.75);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
