#middle {
  padding-top: 150px !important;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: white;
  color: #000;
}
#middle h1 {
  font-size: 30pt;
}
#middle > * {
  position: relative;
  z-index: 99;
}
#middle #info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}
#middle #info h3 {
  margin: 20px 0 15px 0;
}
#middle #info img {
  width: 250px;
}
#middle #info > * {
  position: relative;
  z-index: 3;
}
#middle #info:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/backgrounds/dots_hero-i42f3gz25y.png);
  background-size: 400px;
  background-position: center;
}
#middle #info:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 2px solid transparent;
  background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, rgba(19, 170, 82, 0.2), #fff);
  background-origin: border-box;
  background-clip: content-box,border-box;
}
#middle #skills {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#middle #skills .skill-bar {
  width: 100%;
  height: 28px;
  margin-bottom: 15px;
  box-shadow: 0 0 1px 1px #ccc;
  background-color: #fefcbf;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#middle #skills .skill-bar-name {
  color: white;
  background: #2a6fdb;
  padding: 0 30px;
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#middle #skills .skill-bar-experience {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  text-align: right;
}
#middle #skills .skill-bar-experience .percents {
  background: #48d6d2;
}
#middle #skills .skill-bar-experience span {
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
